*{
    font: Helvetica;
    font-family:  Helvetica, Arial, sans-serif;
}
header {
    position: relative;
    left: 42%;
}
nav ul {
    list-style-type: none;
    position: absolute;
    left: 32%;
}

nav ul li {
    display: inline;

    }
