*{
    font: Helvetica;
    font-family:  Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: gray;
}

header{
    background-color: green; 
    width: 80%; 
}

a {
    color: white;
}

nav {
    background-color: green;
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

article p {
    background-color: green;
    padding: 20px;
    margin: 5px;
    width: 75%;
    height: 100%;
}

article h3 {
    border: 10px black;
    background-color: green;
    width: 25%;
}

img {
    width: 500px;
    height: 500px;
}

button {
    color: black;
}

form {
    background-color: green;
    margin: 10px;
}

